// ---------------------------------------------
@import "../../scss/variables";
@import "../../scss/site-wide";

// ---------------------------------------------
.jm-starwars-header {
    &-wrapper {
        position: fixed;
        top: 0;
        width: 100%;
        height: 70px;
        margin: 0;
        padding: 0;
        background-color: $dark-gray;
        z-index: 39;
    }
    &-trigger-wrapper {
        position: absolute;
        z-index: 71;
        margin: 15px;
        button {

        }
    }
    &-nav {
        @extend .hog-screen;
        position: fixed;
        background-color: $dark-gray;
        z-index: 70;
    }
    &-ul {
        position: relative;
        @extend .vertically_align_elements;
        list-style-type: none;
    }
    &-li {
        a, span {
            display: block;
            text-align: center;
            outline: none;
            text-decoration: none;
            color: $white;
            font-size: 2rem;
            font-weight: 500;
            margin: 0;
            padding: 15px 0;
        }
        span {

        }
    }
}

// ---------------------------------------------
