<header class="jm-starwars-header-wrapper">
    <div class="jm-starwars-header-trigger-wrapper">
        <button *ngIf="!mainNavActive" mat-mini-fab (click)="onToggleMainNav()">
            <mat-icon>menu</mat-icon>
        </button>
        <button *ngIf="mainNavActive" mat-mini-fab (click)="onToggleMainNav()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <nav *ngIf="mainNavActive" class="jm-starwars-header-nav">
        <ul class="jm-starwars-header-ul">
            <li class="jm-starwars-header-li" (click)="onToggleMainNav()">
                <a routerLink="/dashboard">Dashboard</a>
            </li>
            <li class="jm-starwars-header-li" (click)="onToggleMainNav()">
                <a routerLink="/information">Info</a>
            </li>
            <li class="jm-starwars-header-li" (click)="onLogOutUser()">
                <span>Log Out</span>
            </li>
        </ul>
    </nav>
</header>
