// ---------------------------------------------
@import "../../scss/variables";

// ---------------------------------------------
.jm-starwars-footer-wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 20px 0 0 0;
    background-color: $dark-gray;
    z-index: 38;
    p {
        text-align: center;
        color: $white;
    }
}

// ---------------------------------------------
