<app-login></app-login>
<main class="page-view-padding">
    <section>
        <h1>Information</h1>
        <h2>h1 HTML5 Kitchen Sink</h2>
        <h2>h2 Back in my quaint </h2>
        <h3>h3 Jaunty vie with flaunting phlox</h3>
        <h4>h4 Five or six big jet planes zoomed quickly by the new tower.</h4>
        <h5>h5 Expect skilled sign writer to use many jazzy, quaint old alphabets effectively.</h5>
        <h6>h6 Pack my box with five dozen liquor jugs.</h6>
    </section>
</main>
