<section *ngIf="!userLoggedIn" class="jm-starwars-modal-wrapper">
    <div class="jm-starwars-login-card">
        <h2 class="global-header-styles">Login</h2>
        <p>Note: Not an actual login.  Just add 8 characters per input field and proceed.</p>
        <form
            [formGroup]="loginForm"
            (ngSubmit)="onLoginUser()"
            class="jm-starwars-form">
            <mat-form-field class="jm-starwars-full-width">
                <mat-label>Username</mat-label>
                <input
                    type="text"
                    matInput
                    placeholder="My Username"
                    value=""
                    formControlName="username"
                    required>
            </mat-form-field>

            <mat-form-field class="jm-starwars-full-width">
                <mat-label>Password</mat-label>
                <input
                    type="password"
                    matInput
                    placeholder="My Password"
                    value=""
                    formControlName="password"
                    required>
            </mat-form-field>
            <div class="example-button-row">
                <button
                    mat-button color="primary"
                    type="submit"
                    [disabled]="!loginForm.valid">Proceed</button>
            </div>
        </form>
    </div>
</section>
