// ---------------------------------------------
@import "src/scss/variables";
@import "src/scss/site-wide";

// ---------------------------------------------
.jm-starwars {
    &-modal-wrapper {
        @extend .hog-screen;
        position: fixed;
        background-color: $medium-gray;
        z-index: 49;
    }
    &-login-card {
        @extend .vertically_align_elements;
        position: relative;
        max-width: 300px;
        width: 80%;
        margin: 0 auto;
    }
}
.jm-starwars-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.jm-starwars-full-width {
    width: 100%;
}
// ---------------------------------------------
