/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    margin: 0;
    //padding: 80px 0;
    font-family: Roboto,
    "Helvetica Neue",
    sans-serif;
}

// ---------------------------------------------
@import "scss/variables";
@import "scss/site-wide";
// ---------------------------------------------
// ---------------------------------------------
