// ------------------------------------------
@import "./variables";

// ------------------------------------------
.page-view-padding {
    padding: 80px 20px;
}

// ------------------------------------------
.global-header-styles {
    text-align: center;
    font-weight: 700;
    &-h1, &-h2, &-h3, &-h4, &-h5, &-h6 {

    }
    &-text-white {
        color: $white;
    }
}

// ------------------------------------------
// Mixins and Extended classes
.hog-screen {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.vertically_align_elements {
    top: 50%;
    transform: translateY(-50%);
}

.kill-body-scroll {
    overflow: hidden !important;
}

.mobile-item {
    display: block;
    @media(min-width: 768px) {
        display: none !important;
    }
}

.desktop-item {
    display: none;
    @media(min-width: 768px) {
        display: block;
    }
}

.display-element {
    display: block !important;
}
.hide-display-element {
    display: none !important;
}
