// -------------------------------------------
// Variables, Colors, and Other.

// -------------------------------------------
// End old brand colors ---------
$white: #ffffff;
$black: #000000;
$blackOpaque: rgba(0,0,0,0.7);
$blackOpaque2: rgba(0,0,0,0.4);
$whiteOpaque: rgba(255,255,255,0.7);
$whiteOpaque2: rgba(255,255,255,0.4);
$whiteOpaque3: rgba(255,255,255,0.3);
$white-grey: #E4E4E4;
$lightgrey: #cccccc;
$light-gray: #e5e5e5;
$grey: #999999;
$medium-gray: #b2b2b2;
$medium-gray2: #525252;
$medium-gray3: #7b7b7b;
$subtle-grey: #c1c1c1;
$darkgrey: #262626;
$dark-gray: #262626;

$yellow: #fff000;
$red: #ff0000;
$lightpink: #ffcece;
$darkpink: #fa755a;
$light_green: #c9f7c9;
$green: #14b700;
$blue: #30426a;
$lightblue: #91bed5;
$lightbluetwo: #d8e8f5;

// -------------------------------------------
@mixin jm-starwars-block-grid-mixin($columns, $gap, $minmax) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-gap: $gap;
  grid-auto-rows: minmax($minmax, auto);
}

// -------------------------------------------
@mixin jm-starwars-dynamic-circle($width, $height, $color, $radius) {
  width: $width;
  height: $height;
  background: $color;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

.jm-starwars-circle-marketing-brand {
  @include jm-starwars-dynamic-circle(30px, 30px, $white, 15px);
  @media(min-width: 769px) {
    @include jm-starwars-dynamic-circle(70px, 70px, $white, 35px);
    img {
      max-width: 45px;
    }
  }
}
// ---------------------------------------------
// ---------------------------------------------
