<app-login></app-login>
<div class="jm-starwars-dashboard-characters page-view-padding">
    <h1>A few Star Wars Characters</h1>
    <div class="jm-starwars-dashboard-characters-grid-wrapper">
        <mat-card *ngFor="let character of characters"
            class="jm-starwars-dashboard-character-card">
            <h4 class="global-header-styles">{{character.name}}</h4>
            <img src="{{character.img_url}}" alt="{{character.name}}">
        </mat-card>
    </div>
</div>
