// ---------------------------------------------
@import "src/scss/variables";
@import "src/scss/site-wide";

// ---------------------------------------------
.jm-starwars-dashboard {
    &-characters {
        position: relative;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        padding: 80px 0;
    }
    &-characters-grid-wrapper {
        padding: 0 20px;
        @media(min-width: 650px) {
            @include jm-starwars-block-grid-mixin(2, 15px, 100px);
        }
        @media(min-width: 769px) {
            @include jm-starwars-block-grid-mixin(3, 15px, 100px);
        }
    }
    &-character-card {
        margin-bottom: 20px;
        @media(min-width: 650px) {
            margin-bottom: 4px;
        }
        img {
            @include jm-starwars-dynamic-circle(150px, 150px, $dark-gray, 75px);
            display: block;
            margin: 0 auto;
        }
    }
}
// ---------------------------------------------
